#tiles{
    border: 1px solid black;
    height: 500px;
    display: flex;
    width: 100%;
    margin: 0px ;
}
.tiles-style{
    border: 1px solid black;
    width: 32%;
    height: 470px;
    margin: 10px;
}